[*]
charset = utf-8
end_of_line = lf
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = space

[*.ls]
; See https://github.com/gkz/LiveScript-style-guide
indent_size = 2
